<div>User Name: <%= @user.name %></div>
<div>User Email: <%= @user.email %></div>

<% if !@user.garden %>
  <div><%= form_for([@user, @garden]) do |f| %>
    <%= f.submit %>
  <% end %>
  </div>
<% end %>