<h1>Welcome to Homegrown<h1>
<h2>Gardens</h1>
<div>
  <ul>
    <% @gardens.each do |garden| %>
    <li>
      <%= link_to garden.user.name, user_garden_path(garden.user.id, garden) %>'s garden
    </li>
    <% end %>
  </ul>

</div>