<header class="title">
<h1>Homegrown<h1>
</header>

<div class="container">
	<div id="search-bar">
		<%= form_tag products_path, method: :get, id: 'search-form'  do %>
		  <%= text_field_tag :search, params[:search] %>
		  <%= submit_tag "search" %>
		<% end %>
	</div>

	<div class="gardens-list">
		<h2>Gardens</h1>
		  <ul>
		    <% @gardens.each do |garden| %>
		    <li>
		      <%= link_to garden.user.name, user_garden_path(garden.user.id, garden) %>'s garden
		    </li>
		    <% end %>
		  </ul>
	</div>
</div>
