<div class="search-bar">
	<%= form_tag products_path, method: :get, id: 'search-form'  do %>
	  <%= range_field_tag(:proximity, :distance, :in => 0..30, :step => '5', :value => '10') %>
	  <div class="rangevalue"></div>

	  <%= submit_tag "search", value: "garden-search", id: "search-button" %>
	<% end %>
</div>

<div id="gardens">
  <ul>
  	<%= render @gardens %>
  </ul>
</div>
