<h1>Welcome to <%= @user.name %>'s Garden</h1>

<%= link_to "back", :back %>
<div class="products">
  <h3>Products</h3>
  <ul>
    <% @products.each do |product| %>
    <li>
      <%= product.name %>
    </li>
    <% end %>
  </ul>

</div>