.header-bar {
  color: white;
  background-color: #F2F3F9;
  position: fixed;
  margin: 0;
  padding: 0 .5em;
  height: $title-bar-height;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;

  .homegrown {
    height: 2.3em;
    width: 5.3em;
    float: left;
    background: url('homegrown-logo.png') no-repeat;
    background-size: 100%;
    background-position: center;
  }

  & > h1 {
    font-size: 1.35rem;
    margin: 0;
    padding: 0;
    line-height: $title-bar-height;
  }

  ul.nav {
    display: block;
  }

  .nav li {
    display: inline-block;
    float: right;
  }

  li{
    line-height: 3em;

    & > a {
      color:#989995;
    }

    &.nav-button {
      height: 2.3em;
      width: 2.5em;
      font-size: .8em;
    }

    &.nav-link {
      margin-left: .5em;
      color: #989995;
      font-size: .8em;
    }
  }
}


main {
    margin-top: 1em;
    padding: 1.2em;
}