main {
  @include clearfix;
  @include outer-container;

  max-width: 1100px;
  padding: 0 0.5em 0.5em;
}

.main-title {
  margin-top: 1em;
}

.header-bar {
  color:#79797c;
  margin: 0;
  padding: 0 .5em;
  background: #f2f3f9;
  min-height: $title-bar-height;
  text-align: center;
  font-size: .8em;

  a {
    color:#79797c;
  }

  @include media($small-medium-screen-up){
    padding: 0 1em;
  }
}

.homegrown {
  width: 6.625em;
  height: 6.625em * .43396266;
  float: left;
  background: url(image-path('homegrown-logo.png')) no-repeat;
  background-size: 100%;
  background-position: center;

  @include media($small-medium-screen-up) {
    width: 11.625em;
    height: 11.625em * .43396266;
    background: url(image-path('homegrown-logo-lg.png')) no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.nav-link{
  @include media($small-medium-screen-up) {
    padding-right: 9px;
  }
}

.nav {
  @include clearfix;
  line-height: 2.875em;

  & > li {
    float: right;
  }

  @include media($small-medium-screen-up) {
    line-height: 5.03515em;
  }

  @include media($small-small-medium-screen-only) {
    li:nth-child(2) {
      margin: 0;
    }
  }
}

.nav-button {
  width: 2.5em;
}

#user-icon, #inbox-icon {
  @include media($small-medium-screen-up) {
    display: none;
  }
}

.drop-down {
  @include media($small-medium-screen-up) {
    position: relative;
  }

  & > ul {
    background: $nav-color;
    box-shadow: -1px 5px 5px 0px rgba(150, 150, 150, 0.30);
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9000;

    @include media($small-medium-screen-up) {
      position: absolute;
      width: 12em;
      left: -8em;
    }

    a:first-child li {
      border-top: 0;
    }

    a:last-child li {
      border-bottom: 0;
    }

    li {
      border-top: 1px solid lighten($nav-color, 10%);
      border-bottom: 1px solid darken($nav-color, 10%);
    }
  }

  &:hover > ul {
    display: block;
  }
}

.nav-link {
  margin-left: .7em;
  color: #79797c;

  &.medium-screen {
    display: none;
    @include media($small-medium-screen-up) {
      display: block;
    }
  }
}

.nav-search {
  input {
    padding: 0;
  }

  input[type="submit"] {
    padding: .25em;
  }
}

.nav .modal {
  label {
    font-size: 1em;
    font-weight: normal;
  }
  .modal-trigger {
    padding-top: 0;
    padding-bottom: 0;
  }

}

//New footer style
.footer-container {
  background: #555;
  text-align: center;
  color: #fff;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  & a:link {
    color: #fff;

  }
  & a:visited {
    color: #fff;
  }

  .copyright-info {
    color: #ccc;
  }

}
.footer-menu {
  background: #555;
  font-weight: 200;
  display: inline;
  line-height: 2em;
  font-size: .6em;

  li {
    display: inline-block;
    font-size: 2em;
    margin: .4em;

      @include media($small-screen-only) {
      font-size: 2em;
    }
      @include media($small-screen-up) {
      font-size: 2.5em;
    }
      @include media($medium-screen-up) {
      font-size: 3em;
    }
      @include media($large-screen-up) {
      font-size: 3em;
    }
  }
}

.disabled {
  color: #ccc;
}

.user-info {
  ul {
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  display: block;
  text-align: center;
  font-size: 0.75em;
  text-shadow: $text-shadow;
  padding: 0.2em;
  margin-bottom: 1em;
  }

@include media($small-screen-only) {
      @include span-columns(2);
      @include omega(2n);
    }

  @include media($medium-screen-only) {
    @include span-columns(4);
    @include omega(2n);
    }

  @include media($large-screen-only) {
    @include span-columns(8);
    @include omega(2n);
    }

  @include media($xlarge-screen-up) {
    @include span-columns(12);
    @include omega(2n);
    }

  ul li {
    display: inline-block;
    img {
      max-height: 50px;
      border-radius: 50%;
    }
  }
}
