// Place all the styles related to the Gardens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.garden-grid {
  @include clearfix;
  max-width: 350px;
  margin: 0 auto;

  @include media($medium-screen-up) {
    max-width: 627px;
  }

  @include media($large-screen-up) {
    max-width: 940px;
  }
  .product-card {
    position: relative;
    height: 15.3em;

    @include media($small-screen-up) {
      @include span-columns(2);
    }

    @include media($medium-screen-only) {
      @include omega(2n);
    }

    @include media($medium-screen-up) {
      @include span-columns(2);
      max-width: 306.9px;
    }

    @include media($large-screen-up) {
      @include span-columns(2.8);
    }

    @include media($large-screen-only) {
      @include omega(3n);
    }
  }

  .product-card-pic {
    img {
      width: 100%;
    }
  }

  div.product-info {
    position: absolute;
    top: 16.5em;
    background: rgba(242,243,249,.6);
    width: 100%;
    padding: .5em;
  }
}

.garden-product-list-item {
  @include media($small-screen-only) {
      @include span-columns(1);
      @include omega(2n);

      img {
          max-height: 100px;
      }
    }

    @include media($medium-screen-only) {
      @include span-columns(2);
      @include omega(2n);

      img {
        max-height: 200px;
      }
    }

  @include media($large-screen-only) {
    @include span-columns(4);
    @include omega(2n);

    img {
      max-height: 300px;
    }
  }

  @include media($xlarge-screen-up) {
    @include span-columns(6);
    @include omega(2n);
  }

  font-size: 0.75em;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;

  img {
      float: right;
      position: relative;
      border-radius: $base-border-radius;
    }

  ul {
    display: block;
  }


  ul li {
    display: inline-block;

    @include media($small-screen-only) {
      @include span-columns(1);
      @include omega(2n);
    }

    @include media($medium-screen-only) {
      @include span-columns(2);
      @include omega(2n);
    }

  @include media($large-screen-only) {
    @include span-columns(2);
    @include omega(2n);
    }

  @include media($xlarge-screen-up) {
    @include span-columns(6);
    @include omega(2n);
    }
  }
}

.garden-info {
  @include clearfix;
  text-align: center;

  @include media($large-screen-up) {
    margin-top: .8em;
  }

  .owner-info {
    margin: .5em 0;

    @include media($large-screen-up) {
      @include span-columns(3);
    }
  }

  .profile-pic {
    position: relative;
    height: 6em;
    width: 6em;
    background: rgba(255,255,255,.5);
    margin: 0 auto;

    &:before {
      content: "\f007";
      font-family: FontAwesome;
      font-size: 4em;
      position: absolute;
      left: .3555em;
      z-index: -1;
      @include media($large-screen-up) {
        left: .6em;
        top: .2em;
      }
    }

    @include media($large-screen-up) {
      height: 8em;
      width: 8em;

    }
  }
}

#map-canvas {
  width: 100%;
  height: 200px;
  background-color: #CCC;

  @include media($large-screen-up) {
    @include span-columns(5);
  }
}

.new-product-form {
  display: block;

  @include media($small-screen-only) {
    @include span-columns(2);
    @include omega(2n);
  }

  @include media($medium-screen-only) {
    @include span-columns(4);
    @include omega(2n);
  }

  @include media($large-screen-only) {
    @include span-columns(8);
    @include omega(2n);
  }

  @include media($xlarge-screen-up) {
    @include span-columns(12);
    @include omega(2n);
  }
}