// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-box {
	@include media($small-screen-only) {
		@include span-columns(1);
		@include omega(2n);
	}
	
	font-size: 16px;

	box-shadow: $form-box-shadow;

	ul {
		padding-left: 0.50em;
	}
	.picture {
		text-align: center;
		}

	.picture img {
	    height: 100px;
	}

		@include media($medium-screen-only) {
			@include span-columns(1);
			@include omega(4n);
		
			.picture img {
		    	height: 200px;
		    	}

		}
	
}
