// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-container {
	@include span-columns(2);
	width: 100%;
	overflow: hidden;
	overflow-x: scroll;
}

.carousel {
	width: 80em;
	height: 11.1em;
}

.carousel-card{
	width: 7.5em;
	margin-left: .5em;
	display: inline-block;
}

.carousel-pic {
	height: 8.2em;
	overflow: hidden;
}

.carousel-info {
	height: 2.9em;
}
.category-container {
	@include span-columns(2);
	.category-title {
		h3 {
			font-size: .8em;
		}
	}
	.category-thumb {
		text-align: center;
		width: 7.4em;
		height: 3.5em;
		border: 1px solid #ccc;
		float: left;
		margin: .3em;
		h5 {
			font-size: .8em;
			line-height: 4.4em;
			margin: 0;
		}
	}
}

.product-box {

	@include media($small-screen-only) {
		@include span-columns(1);
		@include omega(2n);
		font-size: 16px;

		box-shadow: $form-box-shadow;

		ul {
			padding-left: 0.50em;
		}
		.picture {
			text-align: center;
			}

		.picture img {
		    height: 100px;
		}
	}


	@include media($medium-screen-only) {
		@include span-columns(1);
		@include omega(4n);

		.picture img {
	    	height: 200px;
	    	}
	}

}
