// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-title{
	text-align: center;
	h3{
		font-size: 1.2em;
	}
}

.carousel-container {
	@include span-columns(2);
	width: 100%;
	overflow: hidden;
	overflow-x: scroll;
	margin-bottom: 20px;
	padding-bottom: 1em;
}

.carousel {
	width: 83em;
	height: 12em;
}

.carousel-card{
	margin-top: .3em;
	width: 7.5em;
	margin-left: .5em;
	display: inline-block;
	box-shadow: $form-box-shadow;
}

.carousel-pic {
	overflow: hidden;
	height: 8.2em;
}

.carousel-info {
	height: 4.9em;
	padding: 0 .2em;
	font-size: .8em;
	a {
		font-size: 1.01em;
	}
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .search-container {
// 	margin-left: .5em;
// 	h2 {
// 		font-size: .8em;
// 	}
// }

.category-title {
 text-align: center;
	h3 {
		font-size: 1.2em;
	}
}

.category-container {
	@include clearfix;
	margin: 0 auto;

		@include media($medium-screen-up) {
			width: 599.97px;
		}

		@include media($large-screen-up) {
			width: 921.906px;
		}

	.category-thumb {

			@include media($small-screen-only) {
				@include span-columns(1);
				@include omega(2n);
			}

			@include media($medium-screen-up) {
				@include span-columns(2);
			}

			@include media($medium-screen-only) {
				@include omega(2n);
			}

			@include media($large-screen-only) {
				@include omega(3n);
			}

			@include media($xlarge-screen-up) {
				@include omega(6n);
			}

			a {
				color: #fff;
			}
		text-align: center;
		border: 1px solid #ccc;
		margin-bottom: .4em;
		color: #fff;
		font-weight: normal;

			h5 {
				font-size: .8em;
				line-height: 4.1em;
				margin: 0;
			}
	}

	.btn-mask {
		background-color: rgba(255,255,255,.2);
		max-width: 294px;
	}

	#leafy-green-btn {
		background: url('leafy-green-btn.jpg') no-repeat;
		background-size: 100%;
		max-width: 294px;
	}
	#roots-btn {
		background: url('roots-btn.jpg') no-repeat;
		background-size: 100%;
		max-width: 294px;
	}
	#fruit-veggie-btn {
		background: url('fruit-veggie-btn.jpg') no-repeat;
		background-size: 100%;
		max-width: 294px;
	}
	#pomes-btn {
		background: url('pomes-btn.jpg') no-repeat;
		background-size: 100%;
		max-width: 294px;
	}
	#citrus-btn {
		background: url('citrus-btn.jpg') no-repeat;
		background-size: 100%;
		max-width: 294px;
	}
	#berries-btn {
		background: url('berries-btn.jpg') no-repeat;
		background-size: 100%;
		max-width: 294px;
	}

}

.product-box {

	@include media($small-screen-only) {
		@include span-columns(1);
		@include omega(2n);
		font-size: 16px;

		box-shadow: $form-box-shadow;

		ul {
			padding-left: 0.50em;
		}
		.picture {
			text-align: center;
		}

		.picture img {
		    height: 100px;
		}
	}

	@include media($medium-screen-only) {
		@include span-columns(1);
		@include omega(4n);

		.picture img {
	    	height: 200px;
	  }
	}
}

//Product Show Page Style
.product-show-container {
	@include outer-container;
	font-size: $global-font-size;
	@include clearfix;
}

.product-show-btn {
	box-sizing: border-box;
	font-weight: $btn-font-weight;
	font-size: $btn-font-size;
	  a {
		text-decoration: none;
		color: white;
	}

}
.edit-controls {

	li { display: inline-block;}

	input[type=submit] {
		width: 90px;
		height: 42px;
		margin-right: .5em;
		// float: left;

	}
}

.update-btn {
	font-size: .8em;
	// width: 90px;
	float: left;
	height: 42px;
	display: inline-block;
}

.product-show-text {
	margin-top: .4em;
	font-weight: bold;
	font-size: 1em;
}

.text-label {
	font-size: 1em;
	line-height: 1.2em;
	margin-top: 1.2em;
}

.text-field {
	font-size: 1em;
}
/*Style for the geo distance info on product search page */

.product-distance-from {
	color: blue;
	font-style: italic;
}