
.product-card {

  padding: .3em;
  width: 145px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;

  .product-info {
    margin: 0 .1em;
    h3 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      font-size: .8em;
    }

    p {
      line-height: 1em;
      margin: 0;
      font-size: .8em;
    }

    strong{
      color: green;
    }
  }

  .product-link {
    box-sizing: content-box;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: .8em;
    width: 100%;

    & a {
        text-decoration: none;
        color: white;
      }
  }

}
