// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trades-seller-success,
.trades-seller-unsuccess,
.trades-buyer-success,
.trades-buyer-unsuccess {

	ul {
		border-bottom: $base-border;
	  // padding: 0.5em 1em;
	  text-decoration: none;
	  //width: 12em;
		font-size: 1em;

		.timestamp {
			font-style: italic;
		}
	}
}

.num-of-trades {
	padding: 0.2em;
	text-align: center;
	background: lighten($action-color, 63%);
}

.trade-partner {
	font-weight: 600;
	padding-bottom: 0.5em;
}

.trade-result {
	border-bottom: $base-border;
}