// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  text-align: center;
  font-size: 0.75em;
  text-shadow: $text-shadow;
}

.user-controls {
  font: 0.76em;
}

.user-controls ul {
    font-size: 0.75em;
    display: block;
}

.user-controls li {
  @include media($small-screen-only) {
      @include span-columns(1);
      @include omega(2n);
    }
  display: inline-block;
  float: left;
  background: $green;
  background-image: $btn-gradient;
  border-radius: $base-border-radius;
  padding: $btn-padding;
  text-decoration: none;
  line-height: $btn-line-height;
  text-align: center;
  color: $light-gray;
  width: 12em;
}

.user-controls li:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, darken($green, 5%), lighten($green, 30%));
  text-decoration: none;
}

.user-controls a {
  color: $light-gray;
}

.request-box {
  @include media($small-screen-only) {
      @include span-columns(1);
      @include omega(2n);
    }

  font-size: 0.75em;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
}

.view-link {
  text-align: center;
  text-shadow: $text-shadow;
  color: $green;
  text-decoration: none;
}

.show-all {
    @include media($small-screen-only) {
      @include span-columns(2);
      @include omega(2n);
    }
}

.product-convo-bar {
  @include media($small-screen-only) {
      @include span-columns(3);
      @include omega(2n);
    }

  font-size: 0.75em;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  
  ul {
    display:block;
  
  }

  li {
  display: inline-block;
  float: left;
  text-align: center;
  width: 12em;

  }

  img {
    width: 50px;
    
  }

}

.product-related-convos {
  display: none;
}

.open {
  display: block;
}