//Login form & Register Button Style
.login-form{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  .login-field {
    margin-top: 1em;
    #email {
      margin: 0 auto;
      width: 18em;
      height: 2.3em;
    }
    #password {
      margin: 0 auto;
      width: 18em;
      height: 2.3em;
    }
  }
  .user-login-btn {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    .login-btn {
      width: 96px;
    }
  }
}
label{
  margin-left: 6px;
  float: left;
}
.register-btn{
  text-align: center;
  margin-bottom: 1.5em;
}

