<div>
  <% @products.each do |product| %>
    <ul>
      <li>Product Name: <%= product.name %></li>
      <li>Description: <%= product.description %></li>
      <li>Trade Information: <%= product.trade_info %></li>
    </ul>
  <% end %>
</div>