<h1>Products</h1>
<div>
  <% @products.each do |product| %>
    <ul>
      <li>Product Name: <%= link_to product.name, product_path(product) %></li>
      <li>Description: <%= product.description %></li>
      <li>Trade Information: <%= product.trade_info %></li>
      <%= link_to 'Go the product', product_path(product) %>
    </ul>

  <% end %>
</div>
